//Text
$font-size-big-text: 18px;
$line-height-big-text: 22px;

//Color
$gradient-radial: radial-gradient(81.66% 81.66% at 50.02% 49.98%, #AD00FF 0%, #3532DE 100%);
$gradient-btn: linear-gradient(278.56deg, #4430FD -47%, #E03DEE 144.56%);
$gradient-error: linear-gradient(278.56deg, #F9FD30 -47%, #EE3DA7 144.56%);
$gradient-black: linear-gradient(277.61deg, #080332 -6.19%, #B04BFF 141.82%);
$gradient-active-link: linear-gradient(90deg, rgba(94, 42, 195, 0.2) 0%, rgba(94, 42, 195, 0) 100%);
$gradient-info-card: linear-gradient(360deg, #14082C -13.75%, rgba(94, 42, 195, 0) 100%);

$color-lilac: #AD00FF;  //сиреневый
$color-purple: #3532DE; //фиолетовый
$color-white: #FFFFFF;  //белый
$color-black: #242424;  //черный
$color-dark: #000000;
$color-gray: #979299;   //серый
$color-red: #F17188;    //красный
$color-blue: #0071B0;   //синий
$color-green: #00B0A6;  //зеленый

$color-hover-text: #8A54F2;
$color-hover: #5E2AC3;

$bg-info: #F6F6FC;


//Button
$font-size-btn: 16px;
$line-height-btn: 20px;
$color-text-btn: $color-white;
$bg-main-btn: $gradient-btn;
$bg-error-btn: $gradient-error;
$bg-hover-btn: $color-lilac;
$bg-disabled-btn: $color-gray;
$border-radius-btn: 50px;

//Status
$font-size-status: 16px;
$line-height-status: 20px;
$color-text-status: $color-white;
$bg-success-status: $color-green;
$bg-error-status: $color-red;
$bg-payment-status: $color-blue;
$border-radius-status: 20px;

//Input
$border-radius-input: 50px;

$font: "Montserrat", Arial, sans-serif;

