.form {
  &__item {
    margin-bottom: 20px;
  }
  &-error {
    color: #C03221;
    margin-bottom: 5px;
    &--title {
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
    }
  }
}