# {{ ansible_managed }}
# https://github.com/grafana/loki/blob/main/clients/cmd/promtail/promtail-docker-config.yaml
# https://grafana.com/docs/loki/latest/clients/promtail/configuration/

server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/promtail/positions.yaml

clients:
  - url: http://loki:{{ loki_port }}/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
    - targets: [localhost]
      labels:
        job: varlogs
        __path__: /var/log/*log
    pipeline_stages:
    - regex:
        expression: '^(?P<time>(.+?\s){3})(?P<instance>.+?\s)(?P<service>.+?)(\[(?P<pid>.+?)\])?:\s(?P<data>.+)'
    - labels:
        service:

  - job_name: nginx
    static_configs:
    - targets: [localhost]
      labels:
        job: nginx
        __path__: /var/log/nginx/*log
    pipeline_stages:
    - regex:
        expression: '^(?P<remote_addr>[.\d]+?) - (?P<remote_user>.+?) \[(?P<time_local>.+?)\] "(?P<request>.+?)" (?P<status>.+?) (?P<body_bytes_sent>.+?) "(?P<http_referer>.+?)" "(?P<http_user_agent>.+?)"$'
    - labels:
        remote_addr:
        status:
